<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="seven_r_edu_gazebo" params="prefix">

    
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find 7_r_edu_description)/config/gazebo_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    

  </xacro:macro>

</robot>
